/*
Section Start: Side Bar for Navigation
 */

 body {
    overflow-x: hidden;
    height: 100vh;
 }

/* Toggle Styles */

.navbar-header {
  margin-top: 15px;
}

/* Hamburger Icon Style */
.bar1, .bar2 {
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: rotate(45deg)translate(0px, 5px);
}
.change .bar2 {
    transform: rotate(-45deg)translate(0px, -5px);
}

/* The entire map is inside a wrapper and we define what will happen
when it is toggled to allow space for the sidebar nav */
#wrapper {
    padding-left: 0;
    transition: all 0.5s ease-out;
    height: 100%;
}
/* when toggled move content of wrapper 250px */
#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #333;
    transition: all 0.5s ease;
}
/* when wrapper is toggled set the width of the side bar */
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.btn {
  margin-top: 0px;
  border: none;
  border-radius: 0px;
  height: 50px;
}

.navbar {
  margin-bottom: 0px;
}

.nav li a {
  color: #fff;
}

.nav li a:hover {
  background-color: #000;
}

.nav li a:focus {
  background-color: #000;
}

#dropdownMenu {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
}

.glyphicon {
  top: 3px;
}

.navbar-default {
    background-color: #333;
}


@media (min-width: 768px) {
  .navbar {
      border-radius: 0px;
      border: none;
  }
}

/*
Section End: Side Bar for Navigation
 */

/*
Media Query Start: Side Bar for Navigation
 */

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*
Media Query Start: Side Bar for Navigation
 */

 /*
Start Section: Map Styling
 */

#map {
  height: 90vh;
}

.map-container {
  padding: 0px;
}

/*
End Section: Map Styling
*/
